<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/starlord.ico" type="image/x-icon">
    <title>Star Lord Recon</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <style>
        html,
        body {
            height: 100%;
        }

        #fig-star-lord {
            display: inline-block;
        }

        #page-title {
            display: flex;
            align-items: center;
        }

        #page-title-wraper {
            display: flex;
            justify-content: center;
        }

        .table th {
            text-align: center !important;
        }
    </style>
</head>

<body class="section">
    <div id="page-title-wraper">
        <h1 id="page-title" class="title is-1">
            <figure id="fig-star-lord" class="image is-64x64">
                <img src="/static/star-lord.png">
            </figure>
            Star Lord Recon
        </h1>
    </div>

    <p class="subtitle is-4 has-text-centered">
        A distributed and containerized reconnaissance pipeline
    </p>
    <div class="field">
        <p class="control has-text-centered">
            <button id="btn-create" class="button is-success">
                Create
            </button>
        </p>
    </div>
    <div class="columns is-centered">
        <div class="column is-4">
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>E-mail</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user['email']}}</td>
                        <td>{{user['first_name']}}</td>
                        <td>{{user['last_name']}}</td>
                        <td>{{user['role']}}</td>
                        <td>
                            <div class="control">
                                <a class="button is-small btn-remove-user" data-email="{{user['email']}}">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const createRemoveUserHandler = email => () => {
            fetch(`/users/${email}`, {
                method: 'delete'
            }).then(() => location.reload());
        };

        document.querySelectorAll('.btn-remove-user').forEach(btn => {
            const email = btn.getAttribute('data-email');
            btn.addEventListener('click', createRemoveUserHandler(email));
        });

        document.getElementById('btn-create').addEventListener('click', () => {
            location.href = '/users/create';
        });
    </script>
</body>

</html>
