<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/starlord.ico" type="image/x-icon">
    <title>Star Lord Recon</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <style>
        html,
        body {
            height: 100%;
        }

        #fig-star-lord {
            display: inline-block;
        }

        #page-title {
            display: flex;
            align-items: center;
        }

        #page-title-wraper {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body class="section">
    <div id="page-title-wraper">
        <h1 id="page-title" class="title is-1">
            <figure id="fig-star-lord" class="image is-64x64">
                <img src="/static/star-lord.png">
            </figure>
            Star Lord Recon
        </h1>
    </div>

    <p class="subtitle is-4 has-text-centered">
        A distributed and containerized reconnaissance pipeline
    </p>

    <div class="columns is-centered">
        <div class="column is-3">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input id="inp-email" class="input" type="email" placeholder="person@hostname.com">
                </div>
            </div>

            <div class="field">
                <label class="label">First name</label>
                <div class="control">
                    <input id="inp-first-name" class="input" type="text" placeholder="Text input">
                </div>
            </div>

            <div class="field">
                <label class="label">Last name</label>
                <div class="control">
                    <input id="inp-last-name" class="input" type="text" placeholder="Text input">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <p class="control">
                    <input id="inp-password" class="input" type="password" placeholder="Password">
                </p>
            </div>

            <div class="field">
                <label class="label">Password again</label>
                <p class="control">
                    <input id="inp-password-again" class="input" type="password" placeholder="Password">
                </p>
            </div>

            <div class="field">
                <p class="control has-text-centered">
                    <button id="btn-create" class="button is-success">
                        Create
                    </button>
                </p>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('btn-create').addEventListener('click', () => {
            const password = document.getElementById('inp-password').value;
            const passwordAgain = document.getElementById('inp-password-again').value;

            if (password != passwordAgain) {
                alert('Passwords do not match');
                return;
            }

            const email = document.getElementById('inp-email').value;
            const firstName = document.getElementById('inp-first-name').value;
            const lastName = document.getElementById('inp-last-name').value;

            fetch('/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email,
                    password,
                    first_name: firstName,
                    last_name: lastName,
                })
            }).then(x => {
                if (x.status === 204) {
                    location.href = '/users';
                    return;
                }

                return x.json();
            }).then(obj => {
                console.log(obj);
                let msg = 'Unknown error';
                if (typeof obj.detail === 'string') {
                    msg = obj.detail;
                } else if (typeof obj.detail === 'object') {
                    msg = obj.detail[0].msg;
                }

                alert('Error! ' + msg);
            });
        });
    </script>
</body>

</html>
